* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  position: relative;
  margin: 0.5rem 0;
}

ul a {
  height: 4rem;
  display: block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  overflow: hidden;
}

ul a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #16a085;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

ul a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition-delay: 0.5s;
}

ul span {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

ul li:hover span:nth-child(1) {
  transform: translateY(-100%);
  transition-delay: 0s;
}

ul li:hover span:nth-child(2) {
  transform: translateY(-100%);
  transition-delay: 0s;
}
