* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10ac84;
}

a {
  color: white;
  padding: 1.8rem 3rem;
  text-decoration: none;
  font-size: 2.8rem;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

a::before,
a::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a::before {
  top: -5px;
  left: 0;
  background-color: #ee5253;
  transform: skewX(30deg);
}

a::after {
  top: 5px;
  left: 52%;
  background-color: #0a3d63;
  transform: skewX(30deg);
}

a:hover::before,
a:hover::after {
  top: 0;
  transform: skew(0);
}

a:hover::before {
  left: 50%;
}

a:hover:after {
  left: 0;
}
