* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #351435;
  border: 3px solid #351435;
  padding: 4rem 8rem;
  text-decoration: none;
  font-size: 4.5rem;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #351435;
  transform-origin: top left;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1;
}

a:hover {
  color: white;
}

a:hover::before {
  transform: translate(0);
}
