* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8d6e5;
}

.main {
  position: relative;
  width: 80rem;
}

h1 {
  font-size: 22rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.5s;
  width: 100%;
}

h1:last-child {
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  background-color: #c8d6e5;
}

h1:nth-child(1):hover ~ h1 {
  clip-path: polygon(0 0, 0% 0, 0% 0%, 0 0%);
}

h1:last-child:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
