* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
}

a {
  color: transparent;
  border: 3px solid #ff0;
  padding: 4rem 8rem;
  text-decoration: none;
  font-size: 4.5rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a::before,
a::after {
  content: "button";
  height: 100%;
  width: 100%;
  color: #ff0;
  background-color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

a::after {
  left: -100%;
  transform: scale(0) rotateY(1turn);
}

a:hover::before {
  left: 100%;
  transform: scale(0) rotateY(1turn);
  opacity: 0;
}

a:hover::after {
  left: 0;
  transform: scale(1) rotateY(0);
  opacity: 1;
}
