* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 40rem;
  padding: 4rem;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(0 0 0/0.2);
  overflow: hidden;
  color: #555;
  cursor: pointer;
  transition: all 0.5s;
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #f0f;
  bottom: calc(-100% + 0.5rem);
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.card:hover {
  color: white;
}

.card:hover:before {
  bottom: 0;
}

.card h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.card p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.4;
}

.card a {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: white;
  color: #555;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 1rem 2rem rgba(0 0 0/0.05);
}
