* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  cursor: pointer;
  position: relative;
  width: 33.5rem;
  height: 50rem;
}

.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  clip-path: circle(100%);
}

.imgbox img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  position: absolute;
  top: 60%;
  transform: translateY(2rem);
  opacity: 0;
  transition: all 0.2s;
}

.content h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.content p {
  margin-bottom: 3rem;
}

.content a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
}

.card:hover .imgbox {
  clip-path: circle(15% at 50% 40%);
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s 0.5s;
}
